<nav>
    <div class="nav-wrapper light-blue"> <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="mobile-demo" class="brand-logo" style="left: 0 !important; transform: translateX(0%) !important; z-index: 5;"><i style="padding-left: 15px;" class="material-icons">menu</i>Basic Starter Application</a>
        <ul class="right hide-on-med-and-down">
            <li><a>logOut</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a [routerLink]="['/']">Home / Welcome</a></li>
          <li><a [routerLink]="['/sample/1']">Sample Route 1</a></li>
          <li><a [routerLink]="['/sample/2']">Sample Route 2</a></li>
        </ul>
    </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
